/*
OutputExt=res
*/
#define UNICODE

#include <windows.h>
#include <commctrl.h>
#include "AESManager_resource.h"

ICON_MAIN_ICON ICON "MainIcon.ico"
//Ikony przycisków z głównego toolbara 32x32
OPEN_FILE ICON "gfx\\OtworzProjekt.ico"
PROCESS_FILE ICON "gfx\\SzyfrowaniePlikow.ico"
SAVE_CONFIG ICON "gfx\\ZapisKonfiguracji.ico"
SAVE_HISTORY ICON "gfx\\ZapiszHistorie.ico"
PROCESS_DIR ICON "gfx\\SzyfrujKatalog.ico"
CLEAR_HISTORY ICON "gfx\\KasowanieHistorii.ico"
ID_INFORMATIONS ICON "gfx\\Informacje.ico"
VIEW_PASS ICON "gfx\\PokazHaslo.ico"

//Dialog
IDD_ABOUTBOX DIALOGEX DISCARDABLE 0, 0, 400, 113
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME
CAPTION "O programie"
FONT 11, "Segoe UI"
{
    CTEXT "", IDC_INFO_APP, 210, 10, 180, 23
    LTEXT "", IDC_FULL_TEXT, 210, 29, 180, 74
    CONTROL "", IDC_LOGO, "STATIC", SS_OWNERDRAW, 0, 0, 200, 113 //x, y, szer, wys
}

1 VERSIONINFO
FILEVERSION 0,8,672,13556
PRODUCTVERSION 0,8,672,13556
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
  {
    BLOCK "041504E2"
    {
      VALUE "CompanyName", COMPANY_NAME
      VALUE "FileDescription", "AESManager"
      VALUE "FileVersion", "0.8.672.13556"
      VALUE "InternalName", "AESManager"
      VALUE "LegalCopyright", "GNU"
      VALUE "OriginalFilename", "AESManager"
      VALUE "ProductName", "AESManager"
      VALUE "ProductVersion", "0.8.672.13556"
      VALUE "Comments", "AESManager"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 1045, 1250
  }
}

//
// Manifest resources
//
1 RT_MANIFEST    ".\\manifest.xml"
